* {
  margin: 0;
  padding: 0;
}
body{
  background-color: grey;
}
.name {
  margin-top: 20vh;
  text-align: center;
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
}
.scoreContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.score {
  color: white;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 30px;
  
}

.start {
  display: block;
  background: greenyellow;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 30px;

}
.playerScore {
  background-color: black;
  text-align: center;
  height: 100%;
  width: 100%;
}
.cpuScore {
  background-color: blue;
  text-align: center;
  height: 100%;
  width: 100%;
}
.reset {
  background-color: yellow;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 30px;
  vertical-align: middle;
}
.rpsContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.size{
  height: 20vh;
  width: 20vh;
  margin: 1rem;
}
.rpsButton {
height: 20.3vh;
width: 20.3vh;
}
.rockPaperScissors {
  border: 2px solid black;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;

}

.active {
  transform: scale(1.2);
}

.infoBox{
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
  width: 74vw;
  height: 20vh;
  border: 2px solid black;
  border-radius: 4px;
}

.gameInfo{
  font-size: 30px;
  text-align: center;
  padding: 7vh;
}

.highlight{
  background-color: skyblue;
}
