* {
  margin: 0;
  padding: 0;
}

.name {
  margin-top: 20vh;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
}
.scoreContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  
}

.start {
  background: greenyellow;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;

}
.playerScore {
  background-color: black;
  text-align: center;
  height: 100%;
  width: 100%;
}
.cpuScore {
  background-color: blue;
  text-align: center;
  height: 100%;
  width: 100%;
}
.reset {
  background-color: yellow;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
}
.rpsContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.size{
  height: 20vh;
  width: 20vh;
  margin: 1rem;
}
.rpsButton {
height: 20.3vh;
width: 20.3vh;
}
.rockPaperScissors {
  border: 2px solid black;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;

}

.active {
  transform: scale(1.2);
}
